html {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    background-color: #dcdcdc;
    display: flex;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 16px;
    margin-inline: 12px;
}

.file-input {
    display: flex;
    gap: 16px;
    width: 100%;
    font-size: 2em;
    height: 2em;
}

.file-input-label {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}

.file-input button {
    width: 100%;
    font-size: 1em;
}

#controls select {
    width: 100%;
    text-align: center;
    font-size: 2em;
    height: 2em;
}

#controls select option {
    font-size: 1em;
}

#display {
    display: flex;
    justify-content: center;
    width: 100%;
}

#download {
    display: flex;
    justify-content: center;
    height: 4em;
    width: 100%;
}

#download button {
    width: 100%;
    font-size: 2em;
    margin-inline: 12px;
}

.app {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @media (min-width: 981px) {
        max-width: 900px;
    }

    width: 100%;
}

#output-image {
    width: 100%;
    height: auto;
}

.container {
    margin-top: 16px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
